<div class="postlist">
  {% for post in postInfo.list %}
  <article class="postlist-item">
    <h3 class="postlist-title"><a class="postlist-link" href="/post/detail/{{post.number}}">{{post.title}}</a></h3> {% if post.query.image %}
    <div class="postlist-image" style="background-image: url({{post.query.image}})"></div>
    {% endif %}
    <div class="postlist-intro"><a class="postlist-link" href="/post/detail/{{post.number}}">{{post.intro}}</a></div>
    <div class="postlist-opera"><a class="postlist-opera-item postlist-link" href="{{post.user.html_url}}">{{post.user.login}}</a> · <span class="postlist-opera-item">{{post.update_time}}</span> · <a class="postlist-opera-item postlist-link" href="/post/detail/{{post.number}}#comments">{{post.comments}} Comments</a></div>
  </article>
  {% else %} 没有文章 {% endfor %}
  <div class="postlist-page">
  	{% if not postInfo.page.prev %}<a class="page-item page-prev" href="?page={{postInfo.page.prev}}"><i class="fa icon-angle-left"></i></a>{% endif %}
  	<span class="page-item page-curr">{{postInfo.page.curr}} / {{postInfo.page.total}}</span>
  	{% if not postInfo.page.next %}<a class="page-item page-next" href="?page={{postInfo.page.next}}"><i class="fa icon-angle-right"></i></a>{% endif %}
  </div>
</div>
